.vBox-background {
        -fx-background-color: #9bd3ff;
}
.top-bar, .header, .bottom-bar {
        -fx-background-color: #9bd3ff;
}

.header-label{
    -fx-text-fill: #000000;
    -fx-font-size: 50;
}

.vbox-body {
        -fx-background-color: #9bd3ff;
}
