.vBox-background {
            -fx-background-color: #9bd3ff;
}
.vBox-background {
        -fx-background-color: #9bd3ff;
}

.text-field {
    -fx-font-size: 28;
}

.buttons {

    -fx-font-size: 20;
}