.box{
        -fx-background-color: #9bd3ff;
}

.tagline{
    -fx-font-family: Century Gothic;
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
}

.sign-in{
    -fx-font-family: Century Gothic;
    -fx-text-fill: #000000;
    -fx-font-size: 25;
    
}

.error-message {
    -fx-font-family: Century Gothic;
    -fx-text-fill: #ff3333;
    -fx-font-size: 18;
}

.text-field {
    -fx-font-family: Consolas;
    -fx-text-fill: #000000;
    -fx-font-size: 18;
}
.sign-in{
    -fx-font-family: Century Gothic;
    -fx-text-fill: rgba(231,231,222,1);
    -fx-font-size: 18;
}

.error-message {
    -fx-font-family: Century Gothic;
    -fx-text-fill: #ff3333;
    -fx-font-size: 18;
}

.text-field {
    -fx-font-family: Consolas;
    -fx-text-fill: #000000;
    -fx-font-size: 18;
    -fx-background-color: rgba(0, 88, 122, 1);
}
