.pohja{
    -fx-background-color: #9bd3ff;
}

.header-label{
    -fx-text-fill: #000000;
    -fx-font-size: 40px;
}


.search-field {
    -fx-text-fill: #000000;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-font-size: 17;
    -fx-background-size: 12%;
}




.table {
    -fx-font-size: 17;
}


.left-grid {
    -fx-font-size: 18;
}

.left-hbox-buttons {
    -fx-font-size: 15px;
}

.right-grid {
    -fx-font-size: 18;
}

.right-hbox-buttons {
    -fx-font-size: 15px;
}

