
.search-field {
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}
.pohja{
    -fx-background-color: #9bd3ff;
}
.sidebar-menu{
    -fx-background-color: #9bd3ff;
}
.open-menu {
    -fx-background-color: #9bd3ff;
}
.productsChart{ 
    -fx-background-color:#DC143C;
 }
